<div class="form">
    <div class="form-group">
        <label for="createtime">名称</label>
        <input type="text" class="form-control" id="name" placeholder="名称" value="">
    </div>
    <div class="form-group">
        <label for="unit">状态</label>
        <select id="status">
        	<option>在港</option>
        	<option>离岗</option>
        </select>
    </div>
    <div class="form-group">
        <label for="unit">类型</label>
        <input type="text" class="form-control" id="type" placeholder="类型" value="">
    </div>
    <div class="form-group">
        <label for="unit">荷载</label>
        <input type="text" class="form-control" id="hezai" placeholder="荷载" value="">
    </div>
    <div class="form-group">
        <label for="unit">单位</label>
        <input type="text" class="form-control" id="unit" placeholder="单位" value="">
    </div>
    <button id="submit" type="button" class="btn btn-warning right">提交</button>
</div>