<div class="form">
    <div class="form-group">
        <label for="createtime">名称</label>
        <input type="text" class="form-control" id="name" placeholder="名称" value="<%=data.name%>">
    </div>
    <div class="form-group">
        <label for="unit">类型</label>
        <input type="text" class="form-control" id="type" placeholder="类型" value="<%=data.type%>">
    </div>
    <div class="form-group">
        <label for="unit">荷载</label>
        <input type="text" class="form-control" id="hezai" placeholder="荷载" value="<%=data.hezai%>">
    </div>
    <div class="form-group">
        <label for="unit">单位</label>
        <input type="text" class="form-control" id="unit" placeholder="单位" value="<%=data.unit%>">
    </div>
    <button id="submit" type="button" class="btn btn-warning right">提交</button>
</div>